sci-fi_ajanlo/seged_fajlok/getcwd.py
sci-fi_ajanlo/seged_fajlok/json_olvaso.py
sci-fi_ajanlo/seged_fajlok/pprint_1.py
sci-fi_ajanlo/seged_fajlok/proba.py
sci-fi_ajanlo/seged_fajlok/random_1.py
sci-fi_ajanlo/seged_fajlok/__pycache__/random.cpython-310.pyc
sci-fi_ajanlo/ajanlas.txt
